@media screen and (max-width: 600px) {
	main,
	section,
	footer,
	.container {
		padding: 30px 10px;
	}

	#menu {
		justify-content: center;
	}

	.hero-section {
		padding: 0;
	}

	.hero-section .container,
	.hero-section .contain {
		padding-bottom: 0;
		padding-top: 10px;
	}

	.hero-section .container,
	#investimento .container,
	#filas .container,
	#ferramenta {
		flex-flow: column;
		max-width: 600px;
	}

	.hero-section .conteudo-esquerda {
		padding: 0 10px;
	}

	.hero-section .conteudo-direita {
		margin-right: 0;
		padding: 0 10px;
	}

	.hero-section .contain {
		margin: 0;
	}

	.hero-section .contain a {
		width: 90%;
		font-size: 20px;
		margin-top: 0;
	}

	#ferramenta .conteudo-esquerda {
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
	}

	#ferramenta .conteudo-direita {
		width: 100%;
		text-align: center;
	}

	#ferramenta .box {
		width: 200px;
	}

	.box .topo {
		justify-content: center;
		padding: 20px 0;
	}

	h1,
	#gestao h1 {
		font-size: 30px;
	}

	.hero-section h1,
	.hero-section p,
	#investimento h4,
	#investimento p,
	#filas p {
		text-align: center;
		text-align: center;
	}

	.conteudo-esquerda,
	.conteudo-direita {
		width: 100%;
		padding: 0 10px;
		margin: 0;
	}

	iframe {
		width: 100%;
		height: 210px;
	}

	.contain {
		flex-flow: column;
		align-items: center;
		gap: 40px;
	}

	.box {
		width: 60%;
	}

	#funcionalidade {
		padding: 10px;
	}

	#funcionalidade .container {
		flex-flow: column;
	}

	#funcionalidade .conteudo-esquerda {
		margin-bottom: 20px;
	}

	#funcionalidade .conteudo-esquerda,
	#funcionalidade .conteudo-direita {
		width: 100%;
		padding: 0 5px;
	}

	#funcionalidade .conteudo-esquerda a {
		display: none;
	}

	#funcionalidade .contain {
		display: flex;
	}

	#gestao {
		text-align: center;
		grid-template-columns: 1fr;
		background-position: left;
		background-color: var(--main-color);
		padding: 10px;
	}

	#passos a {
		width: 90%;
		font-size: 20px;
	}

	#investimento .conteudo-direita,
	#filas .conteudo-esquerda,
	#filas .conteudo-direita {
		width: 100%;
	}

	#investimento h3,
	#investimento span,
	#investimento .destaque,
	#filas h3,
	#filas span {
		font-size: 22px;
	}

	#filas {
		flex-flow: column-reverse;
	}

	#filas .conteudo-direita img {
		margin-top: 50px;
		width: 80%;
	}

	#investimento .conteudo-esquerda img {
		margin-bottom: 0px;
		width: 80%;
	}

	#investimento .conteudo-esquerda a {
		margin: 40px 0;
	}

	.slider {
		width: 100%;
		height: 240px;
	}

	.slider2 {
		width: 100%;
		height: 300px;
	}

	.slider2 {
		margin-top: 40px;
	}

	.slider2-h1 {
		margin-top: 100px;
	}

	#passos h1 {
		font-size: 26px;
	}

	.slider-img {
		width: 100%;
		min-width: 380px;
		max-width: 500px;
	}

	.slider-img-mobile {
		width: 50%;
		max-width: 300px;
	}

	.slider li:nth-child(1) label {
		left: 60px;
	}

	.slider li:nth-child(2) label {
		left: 90px;
	}

	.slider li:nth-child(3) label {
		left: 120px;
	}

	.slider li:nth-child(4) label {
		left: 150px;
	}

	.slider li:nth-child(5) label {
		left: 180px;
	}

	.slider li:nth-child(6) label {
		left: 210px;
	}

	.slider li:nth-child(7) label {
		left: 240px;
	}

	.slider li:nth-child(8) label {
		left: 270px;
	}

	.slider li:nth-child(9) label {
		left: 300px;
	}

	.slider li:nth-child(10) label {
		left: 330px;
	}

	/*
	-- Labels 
	*/

	.slider2 li:nth-child(1) label {
		left: 40px;
	}

	.slider2 li:nth-child(2) label {
		left: 70px;
	}

	.slider2 li:nth-child(3) label {
		left: 100px;
	}

	.slider2 li:nth-child(4) label {
		left: 130px;
	}

	.slider2 li:nth-child(5) label {
		left: 150px;
	}

	.slider2 li:nth-child(6) label {
		left: 180px;
	}

	.slider2 li:nth-child(7) label {
		left: 210px;
	}

	.slider2 li:nth-child(8) label {
		left: 240px;
	}
}

@media screen and (min-width: 601px) and (max-width: 1000px) {
	.hero-section {
		background-position: left;
	}

	.hero-section .conteudo-direita {
		margin-left: 0;
	}

	.hero-section .container,
	#investimento,
	#filas {
		flex-flow: column;
	}

	.hero-section a {
		width: 90%;
		font-size: 20px;
	}

	.conteudo-esquerda,
	.conteudo-direita {
		width: 100%;
		padding: 0 40px;
		margin: 0;
	}

	iframe {
		width: 100%;
		height: 500px;
		border-radius: 14px;
	}

	.box {
		width: 250px;
	}

	#funcionalidade {
		padding: 10px;
	}

	#funcionalidade .conteudo-esquerda a {
		display: none;
	}

	#funcionalidade .contain {
		display: flex;
	}

	#funcionalidade .container {
		flex-flow: column;
	}

	#funcionalidade .conteudo-esquerda {
		margin-bottom: 20px;
	}

	#funcionalidade .conteudo-esquerda,
	#funcionalidade .conteudo-direita {
		width: 100%;
		padding: 0 5px;
	}

	#funcionalidade .conteudo-esquerda a {
		display: none;
	}

	#funcionalidade .contain {
		display: flex;
	}

	#gestao {
		text-align: center;
		grid-template-columns: 1fr;
		background-color: var(--main-color);
		background-position: left;
		padding: 10px;
	}

	#passos a {
		width: 80%;
	}

	#investimento .conteudo-direita,
	#filas .conteudo-esquerda,
	#filas .conteudo-direita {
		width: 100%;
	}

	#filas .conteudo-direita img {
		margin-bottom: 50px;
		width: 80%;
	}

	#investimento .conteudo-esquerda img {
		margin-bottom: 0px;
		width: 80%;
	}

	#investimento .conteudo-esquerda a {
		margin: 40px 0;
	}

	#filas {
		flex-flow: column-reverse;
	}

	#filas p {
		text-align: center;
	}

	.slider-img {
		width: 100%;
		max-width: 900px;
	}

	.slider {
		width: 100%;
		height: 240px;
	}

	.slider2 {
		margin-top: 30px;
		width: 100%;
	}

	.slider2-h1 {
		margin-top: 80px;
	}

	.slider li:nth-child(1) label {
		left: 100px;
	}

	.slider li:nth-child(2) label {
		left: 130px;
	}

	.slider li:nth-child(3) label {
		left: 160px;
	}

	.slider li:nth-child(4) label {
		left: 190px;
	}

	.slider li:nth-child(5) label {
		left: 220px;
	}

	.slider li:nth-child(6) label {
		left: 250px;
	}

	.slider li:nth-child(7) label {
		left: 280px;
	}

	.slider li:nth-child(8) label {
		left: 310px;
	}

	.slider li:nth-child(9) label {
		left: 340px;
	}

	.slider li:nth-child(10) label {
		left: 370px;
	}

	/*
	-- Labels 
	*/

	.slider2 li:nth-child(1) label {
		left: 0px;
	}

	.slider2 li:nth-child(2) label {
		left: 30px;
	}

	.slider2 li:nth-child(3) label {
		left: 60px;
	}

	.slider2 li:nth-child(4) label {
		left: 90px;
	}

	.slider2 li:nth-child(5) label {
		left: 120px;
	}

	.slider2 li:nth-child(6) label {
		left: 150px;
	}

	.slider2 li:nth-child(7) label {
		left: 180px;
	}

	.slider2 li:nth-child(8) label {
		left: 210px;
	}
}
